<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="entities.Etudiant" />
        <mapping class="entities.Cours" />
        <mapping class="entities.Inscription" />
        <mapping class="entities.CoursExterieur" />
        <mapping class="entities.Enseignant" />
        <mapping class="entities.Professeur" />
        <mapping class="entities.ChargeDeCours" />
    </session-factory>
</hibernate-configuration>
